{{ ansible_managed | comment }}

user = {{ mysql_mailserver_user }}
password = {{ mysql_mailserver_password }}
hosts = 127.0.0.1
dbname = {{ mysql_mailserver_database }}
query = SELECT 1 FROM virtual_users WHERE email='%s'
