{{ ansible_managed | comment }}
{% if enable_mailbox_quotas | bool %}

protocol imap {
  mail_plugins = $mail_plugins quota imap_quota
}

protocol lmtp {
  mail_plugins = $mail_plugins quota
}

plugin {
  quota = dict:User quota::proxy::quota
  # Must include an executable (service quota-warning). A bare storage=N%%
  # rule makes IMAP die after auth (SnappyMail: CAPABILITY Logged in as (null)).
  quota_warning = storage={{ mailbox_quota_warning_threshold }}%% quota-warning {{ mailbox_quota_warning_threshold }} %u
}
{% endif %}
